.name:hover{
    color: rgb(255, 102, 0);
    text-decoration: underline;
    cursor: pointer;
}

.btn-add{
    background-color:rgb(255, 102, 0) ;
    color: white;
    border: none;
    padding: 8px;
}
.btn:hover{
    cursor: pointer;
}
.topic{
    border-top: 1px solid #ced4da;
    height: 88px;
    width: 100%;
}
.top-bar{
    gap: 42%;
    margin-left: 96px;
}
.head,
.list{
    width: 92%;
}
.head{
    height: 40px;
    border: 1px solid #ced4da;
    border-bottom: 0px;
}

.list{
    border: 1px solid #ced4da;
}
.line{
    border: 1px solid #ced4da;
    width: 100%
}
/* .button{
    margin-left: 259px;
} */
/* .topic{
    gap: 25%;
} */


form label{
    font-size: 18px;
    font-weight: 500;
    padding: 6px;
}
form input{
    height: 36px;
    border: 1px solid #ced4da;
    margin: 6px;
    padding: 10px;
}

button[type]{
    font-size: 20px;
    height: 36px;
    margin-bottom: 13px;
    margin-top: 23px;
    border: none;
}